body {
	background-color:#f1f0f1;
	font: 12px  verdana, arial, helvetica;
	color: #777c7c;
	text-align: center;
}
h2{
	color:#27448d;
	font-size:16px;
	font-weight:bold;
}
input {
	height: 30px;
	size: 5;
}

.content{
	margin-top: 50px;
}
.red{
	color: #ff0000;
}
.form-control-feedback{
	right: 10px;
}
input.error {
	border: 1px solid #ff0000;
}
label.error {
	color: #ff0000;
	font-weight: normal;
}
